<!-- nav -->
<h1>{{title | uppercase | convertToSpaces: '-'}}</h1>
<nav class="navbar navbar-expand navbar-dark bg-dark px-3">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link" href="/register">Register</a>
        <a class="nav-item nav-link" href="/login">Login</a>
        <a class="nav-item nav-link" href="/user">Users</a>
        <button class="btn btn-link nav-item nav-link">Logout</button>
    </div>
  </nav>
  
  <!-- main app container -->
  <div class="container">
    <router-outlet></router-outlet>
  </div>